
<div class="center">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
        <span>Bell</span>     
      </mat-toolbar-row>
      </mat-toolbar>
      <mat-card>
        <mat-card-title>      
          Register Form           
        </mat-card-title>
      <mat-card-content>
          
          <form class="example-form">
              <div class="example-container">
                  <mat-horizontal-stepper>
                      <mat-step label="Email">   
                          <i class="material-icons">email</i>                                                       
                        <mat-form-field>                         
                            <input matInput placeholder="Email">
                          </mat-form-field>
                    </mat-step>
                    <mat-step label="User Name">
                      <tr>
                        <i class="material-icons">person</i>                     
                        <mat-form-field>                     
                          <input matInput placeholder="first Name">
                        </mat-form-field>
                      </tr>
                        <tr>
                        <i class="material-icons">person</i>       
                        <mat-form-field>                     
                            <input matInput placeholder="middle Name">
                          </mat-form-field>
                        </tr>
                        <tr>
                        <i class="material-icons">person</i>       
                        <mat-form-field>                     
                            <input matInput placeholder="last Name">
                          </mat-form-field>
                        </tr>
                    </mat-step>
                    <mat-step label="Password">
                        <!-- <i class="material-icons">verified_user</i>   --> 
                         <i class="material-icons">lock</i>                    
                        <mat-form-field>                     
                          <input matInput placeholder="Password">
                        </mat-form-field>
                    </mat-step>
                    <mat-step label="Confirm Password">
                        <i class="material-icons">lock</i>                     
                        <mat-form-field>                     
                          <input matInput placeholder="Password">
                        </mat-form-field>
                    </mat-step>
                  </mat-horizontal-stepper>                  
                </div> 
              <br />      
              <tr>    
                  <td colspan="2" class="content-center">    
                      <button  routerLink="/login"  mat-raised-button color="primary">Register</button>   
                      <a style="margin-left: 1ex" routerLink="/login" routerLinkActive="active">CANCEL</a>                      
                  </td>    
              </tr>  
            </form>
      
      </mat-card-content>
      </mat-card>
    </div>