<mat-toolbar color="primary">
    <mat-toolbar-row>
      
      <span>ECommerce Inc.</span>
  
      <span class="header-spacer"></span>
      
      <button mat-button>About</button>
      <button mat-button>Services</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>