/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* body{
    margin: 0;
    background: #CFD8DC;
    color: #37474F;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
}

.page-header--homepage {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding: 2.25rem 0 1.5rem;
    text-align: left;
    background-color: #37474F;
    color: #fff;
}

.site-banner {
    margin: 0 0 1.5rem;
    font-family: Roboto;
    line-height: 1.5rem;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    background: #4CAF50;
}

.feature-section {
    margin-top: -1.5rem;
    padding: 0 0 1.5rem;
    background: #455A64;
    color: #fff;
}

.users-section {
    background: #CFD8DC;
    background-image: none;
} */