
<div class="center">
  <mat-toolbar color="primary">    
    <mat-toolbar-row>
      <span>Bell</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-title>
      Please login
    </mat-card-title>
    <mat-card-content>
      <form class="example-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="example-container">
          <tr>
              <i class="material-icons">person</i>  
            <mat-form-field>
              <!-- <input matInput placeholder="User Name"> -->
              <input matInput placeholder="User Name"  name="username" [(ngModel)]="model.username" #username="ngModel" required />
              <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div> -->
            </mat-form-field>
          </tr>
          <tr>
            <i class="material-icons">lock_open</i>  
            <mat-form-field>
              <!-- <input matInput placeholder="Password"> -->
              <input matInput placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
            </mat-form-field>
          </tr>
        </div>
        <br />
        <tr>
          <td colspan="2" class="content-center">
            <button mat-raised-button color="primary" routerLink="/dashboard"  >Login</button>
            <a style="margin-left: 1ex" routerLink="/register" routerLinkActive="active">REGISTER</a>           
          </td>
        </tr>
      </form>

    </mat-card-content>
  </mat-card>
</div>