.center {
    margin: auto;
    margin-top: 5%;
    width: 20%;
    border: 3px solid white;
    padding: 10px;
}
/* 
button.btn-submit{
    background-color: #38547b;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #38547b;
}
 
input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

div.error-message i{
    vertical-align: middle !important;
}
 
.tabs{
    height: 65px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 65px;
    height: 65px;
}
.tabs .tab a{
    font-size: 25px;
    color: grey !important;
}
 
.tabs .tab a.active{
    background-color: #fff !important;
} */