<header class="site-banner">
    <!-- <img src="./assets/images/ELogo.png" alt="logo" style="float:left"/>
    <button mat-button style="color: white;">Home</button> -->
    <app-header></app-header>
  </header>  
<app-core></app-core>